.intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  
  .intro-box p {
    text-align: center;
    margin-bottom: 1em;
  }

  .larger-text {
    font-size: 125%;
  }

  