---
layout: default
title: Design for Neurodiversity
notitle: true


# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - releproj: [design-for-nd]
    width: 3
    image: true

---

<script src="https://kit.fontawesome.com/ee09856681.js" crossorigin="anonymous"></script>

<div class="text-center">
    <h1 class="display-1">Design for Neurodiversity</h1>
</div>

<div style="overflow: hidden;">
    <figure>
        <img src="/img/design-for-nd.jpg" style="max-width: 100%; height: auto; margin-top: -20%; margin-bottom: -35%;" />
        <figcaption>Design for Neurodiversity</figcaption>
    </figure>
</div>

<link rel="stylesheet" type="text/css" href="css/design-for-nd.css">
<div class="intro-box">
  <p><em><i class="fa-solid fa-user"></i> Explore the intersection of design, technology, and neurodiversity for a more inclusive digital world.</em></p>
</div>


<div class="jumbotron">
    <p> Our research focuses on the meticulous examination of behavioral patterns linked to the challenges encountered by neurodivergent users. 
        We want to explore innovative approaches that empower individuals with diverse cognitive styles, 
        bridging the gap between software design and the unique needs of neurodivergent users. 
        The aim is to gain an understanding of the issues arising from the disparities 
        between the design of the tool interface and the cognitive styles of neurodivergent individuals.
        We want to contribute to the field of design by informing methods that empower software engineers 
        to create more accessible and inclusive software for neurodivergent users.</p>
</div>

<section>
    <h2><i class="fa-solid fa-hand-pointer fa-lg"></i>  Our Research Problem</h2>
    <p class="larger-text">
        General: How can we reduce the stressors that causes confusion when using software design platforms? <br>
        Specific: What are the differences between neurodivergent and neurotypical behavioral pattern or the stressors they experience when using a software or an online platform. 
    </p>
</section>


<section>
    <h2><i class="fa-solid fa-signs-post fa-lg"></i>  Method</h2>
    <p class="larger-text">
        Neurodivergent and neurotypical participants are invited to participate in interviews using low-code/no-code software 
        development tool: wix.
        Individuals will be requested to perform basic tasks to create a website. 
        Their interactions with the tool and think aloud verbalizations will be recorded, 
        allowing for subsequent analysis of differences between participants' cognitive styles.
    </p>
</section>

<section>
    <h2><i class="fa-solid fa-file-signature fa-lg"></i>  Resources</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Autism</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Executive functioning in high-functioning autism spectrum disorder</h6>
                        <p class="card-text"> Meta-analysis suggests deficits in all components of executive function in 
                            children and adolescents with high-functioning ASD, including mpairment in working memory, flexibility, and generativity. 
                            ASD individuals that also have ADHD may also have deficits in inhibition and planning. 
                        </p>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/27874266/">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Dyslexia</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Understanding the Needs of Searchers with Dyslexia</h6>
                        <p class="card-text">There are differences in behaviors and preferences between dyslexic and non 
                            dyslexic searchers showing that readability needs to be factored into search engine rankings. 
                            Which would benefit both dyslexic and non dyslexic users. Possible solutions would be restyling 
                            SERP for users with dyslexia</p>
                        <a href="https://dl.acm.org/doi/10.1145/3173574.3173609">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> ADHD</h5>
                        <h6 class="card-subtitle mb-2 text-muted">What do ADHDers Need?: Working Towards Establishing Guidelines and More Ethical Methods for Designing for and with the Neurodivergent</h6>
                        <p class="card-text">Key findings: <br>
                            1.Do not cover the clock on screens by default. <br>
                            2. Do not override sound <br>
                            3. Convey information in multiple forms. <br>
                            4. Provide options for customizing the user interface/experience.<br></p>
                        <a href="https://mau.diva-portal.org/smash/get/diva2:1767427/FULLTEXT02.pdf">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h2><i class="fa-solid fa-shoe-prints fa-lg"></i> Initial Observations</h2>
    <ul>
        <li>Confusing tab behavior and excessive tabs in Wix.</li>
        <li>Trouble with subtitles, text color, and overwhelming menu options.</li>
        <li>Unclear instructions for titles and subtitles.</li>
        <li>Difficulty finding return button and confusing navigation tabs.</li>
        <li>Challenges with nav bar customization and frustration with scroll bars.</li>
        <li>Consistent site navigation, media handling issues, and reliance on undo.</li>
        <li>Trouble adding and resizing sections, overwhelming menus, and time-consuming element search.</li>
    </ul>
</section>

<section>
    <h2><i class="fa-solid fa-hands-clapping fa-lg"></i> Overall Feedback</h2>
    <ul>
        <li>Aesthetically pleasing design with excessive options hindering navigation.</li>
        <li>Elements overlap instead of moving, and adding sections is cumbersome.</li>
        <li>Noticed missing messages, desire for precise search suggestions, and preference for dark mode.</li>
        <li>Menu options need streamlining, and content manager feels like a premium feature.</li>
    </ul>
</section>


<div id="people">
    <h2><i class="fa-solid fa-face-laugh fa-lg"></i> Team</h2>
    <section class="people row justify-content-between">
        <div class="col-md-6">
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.relevant-proj == "design-for-nd" %}
                    {% include person.html person=person image=true %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>


<section>
    <h2><i class="fa-solid fa-feather-pointed fa-lg"></i> Key Findings</h2>
    <ul>
        <li>
            <strong>Our Primary Findings</strong> Description
        </li>
    </ul>
</section>


