---
layout: default
title: Social Acceptability for Assistive Technology
notitle: true


# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - releproj: [social-accept-AT]
    width: 3
    image: true

---


<div id="people">
    <h2><i class="fa-solid fa-face-laugh fa-lg"></i> Team</h2>
    <section class="people row justify-content-between">
        <div class="col-md-6">
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.relevant-proj == "design-for-nd" %}
                    {% include person.html person=person image=true %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>


<section>
    <h2><i class="fa-solid fa-feather-pointed fa-lg"></i> Key Projectss</h2>
    <ul>
        <li>
            <strong>Large Language Model (ChatGPT) Use by Autistic Workers for Social Advice</strong> <i>In submission.</i>
        </li>
        <li>
            More to be announced soon! Please be in touch for if you'd be interested in a collaboration
        </li>
    </ul>
</section>

