---
layout: default
title: Socially Acceptable Assistive Technology
notitle: true


# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - releproj: [social-acceptability-AT]
    width: 3
    image: true

---


<div id="people">
    <h2><i class="fa-solid fa-face-laugh fa-lg"></i> Team</h2>
    <section class="people row justify-content-between">
        <div class="col-md-6">
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.relevant-proj == "social-acceptability-AT" %}
                    {% include person.html person=person image=true %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</div>


<section>
    <h2><i class="fa-solid fa-feather-pointed fa-lg"></i> Key Projects</h2>
    <ul>
        <li>
            <strong>ChatGPT Use by Autistic Employees for Social Advice and Recommendations (CUAESAR)</strong> 
        </li>
        <ul>
            <li>
                <i>In submission -- please reach out for information or for a pre-draft!</i>
            </li>
        </ul>
        <li>
            More to be announced soon! Please be in touch for if you'd be interested in a collaboration
        </li>
    </ul>
</section>
